body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #393939;
	font-weight: 300;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

/* link */
.navbar-default {
	background-color: #fff;
}
.navbar-default .navbar-brand {
	color: #393939;
}
.navbar-default .navbar-nav > li > a {
    color: #393939;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #393939;
}