<div class="container">
	<section id="about">
		<div class="page-header">
			<h1>About</h1>
		</div>
		<p>
				I really enjoy problem solving, from building large scale web application to sudoku.Im one of those lucky people who find what they want to do in they life’s, for me that is software development. Im originally came from Slovakia but now I live and code in London. When I'm not coding I do street photography around the town. When I'm not in London, you will almost certainly found me in Souther Spain drinking some Cruzcampo in "chiringuito" or canoeing down the sea.
		</p>
	</section>
</div>
